@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/satoshi");

:root {
  --primary-color: #3b82f6;
}

body {
  margin: 0;
  font-family: "satoshi";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-white-10 {
  background-color: #ffffff1a;
}
